<!DOCTYPE html>
<html>
<body>
    <h1>Chat</h1>
    <div id="chat-app">
        <div v-if="authenticated">
            <div id="chat-messages">
                <div v-for="message in messages" :key="message.id">
                    <strong>{{ message.username }}</strong><em>{{ new Date(message.date) }}</em><br />
                    <p>{{ message.message }}</p>
                </div>
            </div>
            <div id="chat-controls">
                <form id="chat-form">
                    <input v-model="currentMessage" type="text"></input>
                    <button @click="sendMessage">Send</button>
                </form>
            </div>
        </div>
        <div v-else>
            <p>Welcome to chat. Please enter a username to continue.</p>
            <form id="set-username-form">
                <input v-model="username" type="text"></input>
                <button @click="login">Login</input>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        const serverUrl = 'http://127.0.0.1:3000';
        const webSocketServerUrl = 'ws://127.0.0.1:3001';
        const app = new Vue({
            el: '#chat-app',
            data: {
                authenticated: false,
                username: '',
                currentMessage: '',
                messages: []
            },
            methods: {
                async login(e) {
                    e.preventDefault();

                    if (this.username !== '') {
                        this.authenticated = true;

                        const res = await fetch (`${serverUrl}/get-messages`);
                        this.messages = await res.json();

                        const socket = new WebSocket(webSocketServerUrl);
                        socket.addEventListener('message', (e) => {
                            this.messages.push(JSON.parse(e.data));
                        });
                    }
                },
                sendMessage(e) {
                    e.preventDefault();

                    if (this.currentMessage !== '') {
                        let data = new URLSearchParams();
                        data.append('username', this.username);
                        data.append('message', this.currentMessage);

                        fetch(`${serverUrl}/send`, {
                            method: 'POST',
                            body: data
                        }).then((data) => {
                            this.currentMessage = '';
                        });
                    }
                }
            }
        });
    </script>
</body>
</html>